In [59]:
import requests
import json
from config import api_key
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from citipy import citipy

In [60]:
# Define lat and long min/max. -180 = 180 W, 180 = 180 E
lat_range = (-90.000, 90.000)
lng_range = (-180.000, 180.000)

lat_values = np.random.uniform(lat_range[0], lat_range[1], 1500)
lng_values = np.random.uniform(lng_range[0], lng_range[1], 1500)
lat_lng = list(zip(lat_values, lng_values))

In [61]:
cities = []

for lat_lng in lat_lng:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    if city not in cities:
        cities.append(city)

In [62]:
len(cities)

599

In [63]:
cities_df = pd.DataFrame(columns = [['City ID', 'Country', 'Latitude', 'Longitude', 'Temperature (F)', 'Humidity (%)', 'Cloudiness (%)', 'Wind Speed (mph)']])
cities_df['City'] = cities
cities_df = cities_df[['City', 'City ID', 'Country', 'Latitude', 'Longitude', 'Temperature (F)', 'Humidity (%)', 'Cloudiness (%)', 'Wind Speed (mph)']]
cities_df

,City,City ID,Country,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,oyama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ushuaia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,veldhoven,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,hilo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mataura,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
594,praya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
595,jesus carranza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596,tabukiniberu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,thio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
598,los zacatones,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
city = 'london'
url = f'https://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=imperial'
response = requests.get(url).json()
print(json.dumps(response, indent=4, sort_keys=True))

{
    "base": "stations",
    "clouds": {
        "all": 92
    },
    "cod": 200,
    "coord": {
        "lat": 51.51,
        "lon": -0.13
    },
    "dt": 1603652129,
    "id": 2643743,
    "main": {
        "feels_like": 42.06,
        "humidity": 76,
        "pressure": 996,
        "temp": 49.08,
        "temp_max": 51.8,
        "temp_min": 48
    },
    "name": "London",
    "sys": {
        "country": "GB",
        "id": 1414,
        "sunrise": 1603608130,
        "sunset": 1603644401,
        "type": 1
    },
    "timezone": 0,
    "visibility": 10000,
    "weather": [
        {
            "description": "overcast clouds",
            "icon": "04n",
            "id": 804,
            "main": "Clouds"
        }
    ],
    "wind": {
        "deg": 200,
        "speed": 9.17
    }
}

In [69]:
datalog = open('weatherAPI_printlog.txt', 'w', encoding="utf-8")
APIdata = open('weatherAPI_data.csv', 'w', encoding="utf-8")

APIdata.write("City,City_ID,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind_Speed\n")

83

In [70]:
base_url = f'https://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=imperial'

city_name = []
city_id = []
country = []
lat = []
lng = []
temp = []
humidity = []
cloudiness = []
wind_speed = []

for city in cities:
    base_url = f'https://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=imperial'
    response = requests.get(base_url).json()
    try:
        city_name1 = response['name']
        city_id1 = int(response['id'])
        country1 = response['sys']['country']
        lat1 = response['coord']['lat']
        lng1 = response['coord']['lon']
        temp1 = response['main']['temp']
        humidity1 = response['main']['humidity']
        cloudiness1 = response['clouds']['all']
        wind_speed1 = response['wind']['speed']
        
        city_name.append(city_name1)
        city_id.append(city_id1)
        country.append(country1)
        lat.append(lat1)
        lng.append(lng1)
        temp.append(temp1)
        humidity.append(humidity1)
        cloudiness.append(cloudiness1)
        wind_speed.append(wind_speed1)
        
        datalog.write(f"{city_name1} with City ID {city_id1} was found\n")
        
        APIdata.write(f"{city_name1}, {city_id1}, {country1}, {lat1}, {lng1}, {temp1}, {humidity1}, {cloudiness1}, {wind_speed1}\n")
                      
    except:
        datalog.write(f"{city} was not found\n")
        
        city_name.append(None)
        city_id.append(None)
        country.append(None)
        lat.append(None)
        lng.append(None)
        temp.append(None)
        humidity.append(None)
        cloudiness.append(None)
        wind_speed.append(None)
        
datalog.close()
APIdata.close()